<% resource = current_user.resource if user_signed_in? %>
<div class="container">
	<div class="row row-resources">
		<div class="col-sm-2 col-xs-12">
			Resources
		</div>	
		<div class="col-sm-2 col-xs-4">
			Gold <%= resource.gold %>
		</div>
		<div class="col-sm-2 col-xs-4">
			Wood <%= resource.wood %>
		</div>
		<div class="col-sm-2 col-xs-4">
			Food <%= resource.food %>
		</div>
		<div class="col-sm-2 col-xs-6">
			Stone <%= resource.stone %>
		</div>
		<div class="col-sm-2 col-xs-6">
			Metal <%= resource.metal %>
		</div>
	</div>
</div>
