<div class="panel buildings panel-default scroll-bar" id='chatroom_id' data-chat-room-id="<%= @chatroom.id %>">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message' %>
    </div>
  <% else %>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
  <% if user_signed_in? %>
    <%= render partial: 'messages/message_form', locals: {message: @message, variable: @room || @building } %>
    <% if @building.present? %>
      <%= link_to :back, building_path(@building), class: "btn btn-primary btn-lg full-width" %>
    <% else %>
      <%= link_to :back, room_path(@room), class: "btn btn-primary btn-lg full-width" %>      
    <% end %>
  <% end %>
</div> 