<% products = [] %>
<% i = 0 %>
<% id = nil %>
<% item = [] %>

<% @room.building.products.order(id: :asc).each do |product| %>
	<%# binding.pry %>
	<% if current_user == @room.user || @items_number[product].present? && @items_number[product] > 0 %>
	<tr class="row<%= i %>">
	    <td class="col-sm-1 col-xs-3">
	    <%= render partial: "partials/images/icons", locals: {controller: "purchases", product: product.id} %>
	    </td>			
		<td class="col-sm-3 table-text">	
		<%= product.name %>
	    </td>
	  	<td class="col-sm-2">
	  		<%= link_to room_price_plus_path(product.price), method: :post, class: "icon", remote: true do %>
		 	<i class="fa fa-plus-square fa-3x" aria-hidden="true" id="plus-square"></i>
		 	<% end %>
		</td>	 
	  	<td class="col-sm-2 table-text">
	  	<%# binding.pry %>
	  	<% if @items_count[product].present? %>
	  		<%= @items_count[product] %>
	  	<% elsif @items_number[product].present? %>
	  		<%= @items_number[product] %>
	  	<% else %>
	  	0
	  	<% end %>
	  	</td>
	  	<td class="col-sm-2" id="#number_field">
	  		<!-- 2 you fixed hear the variable, but need to make sure that the user can not buy more then @items_number[product] number of items -->
	  		<% if current_user.room_owner(@room) %>
		  		<% variable = 9 %>
		  	<% elsif @items_number[product].present? && @items_number[product] < 10 %>
		  		<% variable = @items_number[product] %>
		  	<% else %>
		  		<% variable = 9 %>
		  	<% end %>
		<%# binding.pry %>
		<%= number_field :variable, [i], {value: "0", id: "number_field", min: 0, max: variable } %>
	  	</td>
	  	<td class="col-sm-2">
	  		<%= link_to room_price_minus_path(product.price), method: :post, class: "icon", remote: true do %>
	  			<i class="fa fa-minus-square fa-3x" aria-hidden="true" id="minus-square"></i>
	  		<% end %>
	  	</td>
	  	<% i += 1 %>
	</tr>
	<% end %>
<% end %>	

<% @products.each do |entry| %>
	<% product = Product.find(entry.product_id) %>
	<tr class="row<%= i %>">
	    <td class="col-sm-1 col-xs-3">
	    <%= render partial: "partials/images/icons", locals: {controller: "purchases", product: product.id} %>
	    </td>			
		<td class="col-sm-3 table-text">	
		<%= product.name %> 
	    </td>
	  	<td class="col-sm-2">
	  	<% unless current_user == @room.user %>
	  		<i class="fa fa-plus-square fa-3x" aria-hidden="true" id="plus-square"></i>
	  	<% end %>
	  	</td>	 
	  	<td class="col-sm-2 table-text">
	  	<% if @items_count[product].present? %>
	  		<%= @items_count[product] %>
	  	<% else %>
	  	0
	  	<% end %>
	  	</td>
	  	<td class="col-sm-2" id="#number_field">
	  	<% unless current_user == @room.user %>
		  	<% if @items_number[product].present? %>
		  		<% variable = @items_number[product] %>
		  	<% else %>
		  		<% variable = 10 %>
		  	<% end %>
			<%= number_field :variable, [i], {value: "0", id: "number_field", min: 0, max: 9 } %>
		<% end %>
	  	</td>
	  	<td class="col-sm-2">
	  	<% unless current_user == @room.user %>
	  		<i class="fa fa-minus-square fa-3x" aria-hidden="true" id="minus-square"></i>
	  	<% end %>
	  	</td>
	  	<% i += 1 %>
	</tr>
<% end %>	