<% if current_user == @room.user %>
	<% boolean = true %>
	<% empty = true %>
<% end %>

<div class="row price no-margin">
	<%= form_for @price do |price| %>
	<!--div class="row"-->
		<div class="col-sm-4 col-xs-6">
			<div class="col-sm-4 col-xs-12 no-padding">
			<%= price.label :gold, {class: "price_field"} %>
			</div>
			<div class="col-sm-8 col-xs-12 no-padding">
			<%= price.number_field :gold, {value: 0, id: "price_field", class: "price_field", id: "gold", min: 0, max: 100000, disabled: boolean} %>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6">
			<div class="col-sm-4 col-xs-12 no-padding">		
			<%= price.label :wood, {class: "price_field"} %>
			</div>
			<div class="col-sm-8 col-xs-12 no-padding">
			<%= price.number_field :wood, {value: 0, id: "price_field", class: "price_field", min: 0, max: 100000, disabled: empty} %>		
			</div>
		</div>
		<div class="col-sm-4 col-xs-6">
			<div class="col-sm-4 col-xs-12 no-padding">
			<%= price.label :food, {class: "price_field"} %>
		</div>
			<div class="col-sm-8 col-xs-12 no-padding">
			<%= price.number_field :food, {value: 0, id: "price_field", class: "price_field", id: "food", min: 0, max: 100000, disabled: empty} %>
			</div>
		</div>
		<div class="col-sm-4 col-xs-6">
			<div class="col-sm-4 col-xs-12 no-padding">		
			<%= price.label :stone, {class: "price_field"} %>
			</div>
			<div class="col-sm-8 col-xs-12 no-padding">		
			<%= price.number_field :stone, {value: 0, id: "price_field", class: "price_field", min: 0, max: 100000, disabled: empty} %>	
			</div>
		</div>
		<div class="col-sm-4 col-xs-6">
			<div class="col-sm-4 col-xs-12 no-padding">	
			<%= price.label :metal, {class: "price_field"} %>
			</div>
			<div class="col-sm-8 col-xs-12 no-padding">			
			<%= price.number_field :metal, {value: 0, id: "price_field", class: "price_field", min: 0, max: 100000, disabled: empty} %>		
			</div>	
		</div>										
		<div class="col-sm-12 no-padding">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= form.submit :kaufen, {class: "full-width-mobile full-width margin-top"} %>
		</div>		
	<!--/div-->
	<% end %>
</div>