<h1>Spiel Karte</h1>
<p id="description">Im SprachSpiel gibt es Standorte, wo man kann verschiede Tätigkeiten machen. Jeder Spieler hat eine Rolle und wird Ihren eigenen Raum bauen, so dass jedes einen teil des Spieles verwalten kann..</p>
<p id="second-description">Klicken Sie auf das Symbol, um das Produkt zu kaufen!</p> 

<%#= render partial: "shared/product_description", collection:
@products %>
<%#= render partial: "shared/resources" if user_signed_in? %> 

<ul class='alert fade out hidden' id='errors'></ul>

<div class="row main">
  <div class="col-xs-12 col-sm-8">
    <div>
      <%= render @products %>
    </div>

    <div class="hidden-xs col-xs-12 col-sm-12 actions" data-class="actions">
      <% Event::TYPES.each do |event| %>
        <div class="col-xs-12 col-sm-3">
          <%= link_to [:new, event.downcase.to_sym], class: 'btn btn-primary' do %>
            <%= event.to_s %>
          <% end %>
        </div>
      <% end %>
    </div>  
  </div>
  <div class="col-sm-4 hidden-xs">
    <%= render partial: "shared/chatroom", locals: {chatroom: @chatroom, messages: @messages} %>
  </div>
</div>

<div class="row prices">    

  <div class="col-xs-12 col-sm-8 purchase">
    <% if user_signed_in? %>
    <a href="#" class="col-xs-12 btn btn-green btn-round btn-f-large visible-xs" data-name="show-actions">Inventory</a>
    <% end %>    
    <div class="btn hidden-xs btn-azure btn-round btn-f-small">
      <%= image_tag "coins", class:"icon coins hidden-xs" %>
      <span class="price-amount" data-id="price-amount">0</span>
    </div>
    <%#= link_to "join chat", chatroom_path(@chatroom), class: "price" %>
    <a href="" class="col-xs-12 btn btn-orange btn-round btn-f-large" id="submit"><span class="visible-xs price-amount" data-id="price-amount">0</span>Purchase</a>
  </div>      
  <div class="col-xs-12 col-sm-4 hidden-xs">
    <%= render partial: 'shared/message_form', locals: {message: @message, chatroom: @chatroom} %>
  </div>
</div>