<h1>Spiel Karte</h1>
<p id="description">Im SprachSpiel gibt es Standorte, wo man kann verschiede Tätigkeiten machen. Jeder Spieler hat eine Rolle und wird Ihren eigenen Raum bauen, so dass jedes einen teil des Spieles verwalten kann..</p>
<p id="description">Klicken Sie auf das Symbol, um das Produkt zu kaufen!</p> 

<%= render partial: "partials/resources" if user_signed_in? %> 


<div class="row">
  <%= render @products %>
</div>

<%= form_for @purchase, html: {class: "purchase"} do |f| %>
  <%= f.fields_for :items do |item| %><%#= item.text_field :product_id, class: "hidden"%><% end %>
  <div class="price">
    <%= image_tag "coins", class:"icon coins" %>
    <%= f.hidden_field :price, html: { id:"price-amount", value: 0} %>
    <p id="price-amount">0</p>
  </div>
  <%= f.submit :purchase, class: "btn btn-primary", id: "submit" %>
<% end %>