<div class="row resources mlr-no mtb-small">
  <div class="col-sm-2 col-xs-12">
    Resources
  </div>
  <div class="col-sm-2 col-xs-6">
    Money <%= current_user.money %>
  </div>      
  <div class="col-sm-2 col-xs-6">
    Healt <%= current_user.health %>
  </div>
  <div class="col-sm-2 col-xs-6">
    Defence <%= current_user.defence %>
  </div>
  <div class="col-sm-2 col-xs-6">
    Attack <%= current_user.attack %>
  </div>
  <div class="col-sm-2 col-xs-12">
    Energy <%= current_user.energy %>
  </div>
</div>
