<% content_for :inventory do %><h1>Inventory</h1><% end %>
<!-- <h1>Personal Info</h1>
<p>Health: 10 Attack: 10 Defense: 10 Energy: 10 Money: 100</p> -->

<%= render partial: "shared/resources" if user_signed_in? %> 

<%= render partial: 'table_layout', locals: {objects: @products, constants: Event::INVENTORIES_HEADERS, partial: 'product', h1: :inventory, link: :link } %>

<% Event::TYPES.each do |type| %>
  <% content_for type do %><h1><%= type %></h1><% end %>
  <%= render partial:'table_layout', locals: {objects: filter(type), constants: Event::EVENTS_HEADERS, partial: 'event', h1: type, link: "new#{type}" } if filter(type).size > 0 %>  
<% end %>

<%= render partial: 'shared/links' %>