<% content_for :inventory do %><h1>Inventory</h1><% end %>
<% content_for :link do %><%= link_to "Purchase Products", new_purchase_path, class:"btn btn-orange" %><% end %>
<h1>Personal Info</h1>
<p>Health: 10 Attack: 10 Defense: 10 Energy: 10 Money: 100</p>

<%= render partial: 'table_layout', locals: {objects: @products, constants: Event::INVENTORIES_HEADERS, partial: 'product', h1: :inventory, link: :link } %>

<% Event::TYPES.each do |type| %>
  <% content_for type do %><h1><%= type %></h1><% end %>
  <% content_for "new#{type}" do %><%= link_to "create #{type}", [:new , type.constantize.new], class:'btn btn-azure' %><% end %>
  <%= render partial:'table_layout', locals: {objects: filter(type), constants: Event::EVENTS_HEADERS, partial: 'event', h1: type, link: "new#{type}" } if filter(type).size > 0 %>  
<% end %>