<!-- menu selection for mobile devices --> 
<!-- on mobile devices the buildings are hidden and displayed after the selection of this menu -->
<div class="col-xs-6 btn-col menu-mobile">
   <div class= "btn-primary btn-lg btn-mobile btn-mb-high", id='<%= building.name%>', style="<%=float(building)%>" >
      <%=building.name %>
   </div>
</div>

<!-- show all the pictures of the buildings with name and description  -->
<div class="col-md-6 col-building no-padding" id='container<%= building.name %>' data-building_id="<%= building.id %>">
	<div class="col-md-2 col-xs-12">
		<%= image_tag building.picture, class: 'pull-left', id: building.name.downcase.to_s %>
      <p class="justify"><%= building.description %></p>
	</div>
	<div class="col-md-10 hidden-xs">
		<h3><%= building.name %></h3>
		<p class="justify"><%= building.description %></p>
		<p id='building-link'><%= link_to "Enter", building_path(building) %></p>
	</div>

   <!-- button to be show below the building description on mobile devices -->
   <div class="mobile-buttons container<%=building.name%>" id="">
      <%= link_to "Next Tip", "#", class: "btn-primary btn-lg btn-mobile", style: "border-right:none;", id: "next" %>
      <%= link_to "Enter", building_path(building), id: "enter", class: "btn-primary btn-lg btn-mobile" %>
      <%= link_to "Back", {remote: true, "data-ajax" => false}, { class: "btn-primary btn-lg btn-mobile", id: "back", style: "border-left:none;"} %>
   </div>
</div>