<div class="show">
  <%= render partial: "partials/resources" if user_signed_in? %>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1><%= @building.name %></h1>
    <p class="justify"><%= @building.description %></p>
  </div>
</div>

<div class="row no-margin-top-bottom">
  <div class="col-sm-2 hidden-xs">
    <%= render partial: "partials/images/icons", locals: {image: @building.id, view: "show"} %>
  </div>
  <div class="col-sm-10">
    <%= render partial:"partials/tabs/tabs" %>      
  </div>
</div>

<div class="panel panel-default scroll-bar">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message' %>
    </div>
  <% else %>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
  <% if user_signed_in? %>
    <%= render partial: 'messages/message_form', locals: {message: @message, variable: @building } %>
    <%= link_to :back, buildings_path, class: "btn btn-primary btn-lg" %>
    <%= render partial:"buildings/partials/mobile_buttons" %>
  </div>
  <% end %>
</div> 
