<%= render partial: "partials/resources" if user_signed_in? %>

<div class="row">
  <div class="col-sm-12">
    <h1><%= @building.name %></h1>
    <p class="justify"><%= @building.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <%= image_tag @images[@building.id.pred], style: "height:110px;" %>
  </div>
  <div class="col-sm-10">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTabs">
      <% i = 0 %>
      <% ids = ["online", "tools", "weapons", "food"] %>
      <% ids.each do |id| %>
          <li role="presentation">
          <a href="#<%= id %>" aria-controls="#<%= id %>" role="tab" data-toggle="tab"><%= id %>
          </a>
        </li>
        <% i += 1 %>
      <% end %>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <% i = 0 %>
      <% ids.each do |id| %>
        <div role="tabpanel" class="tab-pane fade" id="online">
        <% users = User.online %>
        <p>
        <% users.each do |user| %>
            <% room = user.rooms.first %>
            <% name = user.name[0..7] %>
            <% items_number = room.items.group(:product_id).count %>
            <%= link_to building_room_path(@building, room), class:"tab-links" do %>
              <%= name %> verkauft:
              <% items_number.each do |product_id, number| %>
                <% item_name = Product.find(product_id).name %>
                <%= item_name %>(<%= number %>)        
              <% end %>
            <% end %>
        <% end %>
        </p>
        </div>      
        <div role="tabpanel" class="tab-pane fade" id="tools">
        <% @building.rooms.each do |room| %>
          <% name = room.user.name %>
          <% items_number = room.items.group(:product_id).count %>

          <% string = "#{name} verkauft:" %>
          <%= link_to building_roomo_path(@building, room) do %>
            <p><%= string %>
            <% items_number.each do |product_id, number| %>
              <% item_name = Product.find(product_id).name %>
              <%= item_name %>(<%= number %>)
            <% end %>
            </p>
          <% end %>
        <% end %>  
        </div>
        <div role="tabpanel" class="tab-pane fade" id="weapons"></div>
        <div role="tabpanel" class="tab-pane fade" id="food"></div>                
        <% i += 1 %>
      <% end %>
    </div>   
  </div>
</div>

<div class="panel panel-default scroll-bar">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  <% else %>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
  <% if user_signed_in? %>
    <%= render partial: 'messages/message_form', locals: {message: @message, variable: @building } %>
  <% else %>
    <% flash[:error] = "You need to signup/signin to chat and play" %>
  <% end %>
</div> 

<div class="container container-links">
  <%= link_to :back, buildings_path, class: "btn btn-primary btn-lg" %>
</div>