<div class="show hidden-xs">
  <%= render partial: "partials/resources" if user_signed_in? %>
</div>

<div class="row hidden-xs">
  <div class="col-sm-12">
    <h1><%= @building.name %></h1>
    <p class="justify hidden-xs"><%= @building.description %></p>
  </div>
</div>

<div class="row no-margin-top-bottom">
  <div class="col-sm-2 hidden-xs">
    <%= render partial: "partials/images/icons", locals: {controller: "buildings", image: @building.id, view: "show"} %>
  </div>
  <div class="col-sm-10">
    <%= render partial:"partials/tabs/tabs" %>      
  </div>
</div>

<div class="panel buildings panel-default scroll-bar" id='chatroom_id' data-chat-room-id="<%= @chatroom.id %>">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message' %>
    </div>
  <% else %>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
    <%= render partial: 'messages/message_form', locals: {message: @message, variable: @building } %>
    <div class="hidden-xs">
    <%= link_to :back, buildings_path, class: "btn btn-primary btn-lg" %>
      <%= render partial:"buildings/partials/mobile_buttons", locals: {controller: "buildings"} %>
    </div>
  </div>
</div> 
