  <h1>Willkommen im SprachSpiel</h1>
  <p class="justify">Ein deutsches Strategiespiel im Mittelalter gesetzt, wo du deine Sprachkenntnisse mit vielen anderen Freunden verbessern kannst !</p>
  <p class="">Coming Soon end of July 2017</p>
  <%= image_tag "building.svg", class: "image_inverted" %>
  <div class="info">
    <p>Subscribe to our Newsletter !</p>
    <%= form_tag("/subscription", method: "post") do %>
    <%= render 'partials/error_messages', object: @subscription %>
	    <div class="input-group">
			<span class="input-group-addon">
			<i class="fa fa-envelope"></i>
			</span>
			<%= email_field(:subscription, :email, {class: "form-control emailfield", placeholder: "your@email.com"}) %>
			<%= submit_tag("Submit", {class: "btn btn-fill btn-large btn-primary"}) %>
	    </div>

    <% end %>
  </div> 	

<%#= link_to "start playing", buildings_path, class: 'btn btn-primary btn-centered-relative' %>

<h2>Deutsch ist einfacher zu lernen, wenn es Spaß macht !</h2>
<p class="justify">SprachSpiel ist eine Strategiespiel im Mittelalter gesetzt. Das spiel ist interaktiv und die Teilnehmer müssen verschiedene Dinge tun, um ihre Position zu verbessern. Jeder hat eine Rolle im SprachSpiel, einige werden Soldat oder Pastor, Bauer, Händler sein, andere können eine wichtige Rolle von Administratoren, Berater und Könige erreichen...<br>Deutsch ist einfacher zu lernen, wenn es spaß macht.<br>Im Spiel gibt es Ressourcen wie Gold, Holz, Lebensmittel, Eisen, Stein und man muss diese Werkstoffe sammeln und erzeugen, mit dieser kann man kaufen, steuern, verwalten und endlich eine neue Rolle nehmen...<br>
Im Spiel zu fortschreiten, muss man eloquent und diplomatisch sein.<br>
Spieler können unser Land mit Wörter malen und neues Länder mit Wörter besiegen...</p>
