<% i = 0 %>
<% @buildings.each do |building| %>
	<% if building.id.odd? %>	
		<div class="row roomsIndex">
			<div class="col-sm-5 col-sm-offset-1 hidden-xs left">
				<%= link_to building_path(building) do %><p><%= building.name %></p><% end %>
			</div>
			<div class="col-sm-5 col-sm-offset-1-right hidden-xs right">
				<%= link_to building_path(building) do %><p><%= @buildings[i+1].name unless @buildings[i+1].nil? %></p><% end %> 
			</div>		
			<div class="col-sm-1 hidden-xs">
				<%= link_to building_path(building) do %>
					<%= render partial: "partials/images/icons", locals: {image: building.id, view: "index"} %>
				<% end %>
			</div>
			<div class="col-sm-5 hidden-xs">
				<p class="justify"><%= building.description %></p>
			</div>			
			<% if building == @buildings.last %>
			</div>
			<% end %>
	<% i += 1 %>
	<% else %>	
			<div class="col-sm-5 hidden-xs">
				<p class="justify"><%= building.description %></p>
			</div>	
			<div class="col-sm-1 hidden-xs">
				<%= link_to building_path(building) do %>
					<%= render partial: "partials/images/icons", locals: {image: building.id, view: "index"} %>
				<% end %>
			</div>
		</div>
	<% i += 1 %>
	<% end %>
<% end %>

<div class="row">
<% i = 0 %>
<% @buildings.each do |building| %>
	<%# binding.pry %>
	<% if i.odd? %>
		<% variable = "float:right;" %>
	<% else %>
		<% variable = "float:left;" %>
	<% end %> 	
<%= render partial: "buildings/partials/mobile_buttons", locals: { building: building, variable: variable} %>
<% i += 1 %>
<% end %>
</div>