<!-- hide divs with js when the button is selected -->
	
<% i = 0 %>
<% @buildings.each do |building| %>
	<% if building.id.odd? %>	
		<% hidden = "margin-top: 0px;" if i == 0 %>

		<div class="row roomsIndex no-margin hidden-xs" style="<%= hidden %>" >
			<div class="col-sm-5 col-sm-offset-1 hidden-xs left">
				<%= link_to building_path(building) do %><%= building.name %><% end %>
			</div>
			<div class="col-sm-5 col-sm-offset-1-right hidden-xs right">
				<% second_building = @buildings[i+1] unless @buildings[i+1].nil? %>
				<%= link_to building_path(second_building) do %><%= @buildings[i+1].name unless @buildings[i+1].nil? %><% end %>
			</div>		
			<div class="col-sm-1 col-xs-12 hidden-xs" id="description<%= building.name %>"> <!-- no-padding --> 
				<%= link_to building_path(building) do %>
               <!-- maybe the ids are not necessary -->
               <% binding.pry %>
               <%= image_tag building.picture, class: 'roomsIcons ', id: '' %>
				<% end %>
				<div class="hidden-sm hiddem-md hidden-lg">
					<p class="justify"><%= building.description %></p>
				</div>				
			</div>
			<div class="col-sm-5 hidden-xs">
				<p class="justify"><%= building.description %></p>
			</div>						
			<%= render partial: "buildings/partials/mobile_buttons", locals: {partial: "afterclick" ,style: "", building: building} %>		
		<% if building == @buildings.last %>
		</div>
		<% end %>	 
	<% i += 1 %>
	<% else %>	
			<div class="col-sm-5 hidden-xs">
				<p class="justify"><%= building.description %></p>
			</div>	
			<div class="col-sm-1 col-xs-12 hidden-xs " id="description<%= building.name%>"> <!-- no-padding col-xs-12 style="display:none;"--> 
				<%= link_to building_path(building) do %>
               <%= image_tag building.picture, class: 'roomsIcons <%= building.style %>', id: '<%= building.set_image_id %>' %>
				<% end %>
				<div class="hidden-sm hiddem-md hidden-lg">
					<p class="justify"><%= building.description %></p>
				</div>					
			</div>
			<%= render partial: "buildings/partials/mobile_buttons", locals: {partial: "afterclick" ,style: "", building: building} %>		
		</div>
	<% i += 1 %>
	<% end %>
<% end %>

<div class="row" id="buildings_buttons">
<% i = 0 %>
<% @buildings.each do |building| %>
	<%# binding.pry %>
	<% if i.odd? %>
		<% float = "float:right;" %>
	<% else %>
		<% float = "float:left;" %>
	<% end %> 	
<%= render partial: "buildings/partials/mobile_buttons", locals: { partial: "buildings#index", building: building, float: float} %>
<% i += 1 %>
<% end %>
</div>
