<%= form_for @price do |price| %>
	<%= render partial: "shared/error_messages", locals: {object: @price} %>
	<div class="" id="price">
		<%= render partial: "prices/shared/prices", locals: {price: price} %>
	</div>
<% end %>

<%= form_for @price, class: "form-inline" do |price|

  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon"><%= image_tag price.resources %></div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Transfer cash</button>
<% end %>