<%= render partial: "partials/resources" if user_signed_in? %>
<div class="container">
  <h1><%= @room.title %></h1>
  <p class="hidden-xs"><%= @room.description %></p>
<%= render template: "purchases/new" %>
<%= render template: "purchases/index" %>
<div class="room panel panel-default scroll-bar chatroom" id='chatroom_id' data-chat-room-id="<%= @room.chatroom.id %>">
  <% if @room.chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message' %>
    </div>
  <% else %>
    <div class="panel-body hidden" id="messages">
    </div>
  <% end %>
</div>
  <% if user_signed_in? %>
    <%= render partial: 'messages/message_form', locals: {message: @message, variable: @room} %>
  <% else %>
    <% flash[:error] = "You need to signup/signin to chat and play" %>
  <% end %>
</div> 

<div class="margin-top">
  <%= link_to :back, building_path(@room.building_id), class: "btn btn-primary btn-lg" %>
  <%= render partial:"buildings/partials/mobile_buttons", locals: {controller: "rooms"} %>  
</div>