<tr>
  <td><%= alliance.name %></td>
  <td><%= alliance.description %></td>
  <td><%= alliance.users.participants(current_user) %></td>
  <td><%= link_to invite_path(alliance), class: 'icon-link' do %>
    <%= image_tag "arrow", class:"icon-s1" %>
  <% end %>  
  </td>
</tr>