<%= form_for @alliance, html: {class:"form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: @alliance %>
  <div class="form-group">
    <%= f.label :name, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :description, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>  
  </div>
  <%#= f.fields_for :users do |user_form| %>
    <%#= render 'user_fields', f: user_form %>
  <%# end %>    
  <div class="form-group">
    <%= f.label "select multiple allies", class:"col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select :user_ids, User.all.collect {|u| [u.username, u.id]}, {}, {:multiple => true,class:'form-control' } %>
    </div>  
  </div>    
  <%#= f.select :permission, , {prompt: "Select Permission Level"},
{:multiple => true, class: "input-lg"} %>
  <!-- select_tag "access", "<option>Read</option><option>Write</option>".html_safe, multiple: true, class: 'form_input', id: 'unique_id' -->
  <div class="col-sm-offset-2 links"> 
    <%#= link_to_add_association 'add user', f, :users, class: 'btn btn-green' %>
    <%= link_to :back, url_for(:back), class: "btn btn-orange" %>
    <%= f.submit 'Save Alliance', class: 'btn btn-azure' %>
  </div>
<% end %>

<!-- , url: {controller: :events, action: :create} -->