<!-- add a the category loop -->
<!-- every product of a specific category will be showed with its own table and properties -->
<% form_tag '/products', method: :put do %>
<table class="table table-hover">
  <% @products.each do |product| %>
    <%= render partial: 'row' %>
    <tr>
      <td class="col-sm-4 table-text">
      <%= product.name %>
      </td>
      <td class="col-sm-2">
      <i class="fa fa-plus-square fa-3x" aria-hidden="true" id="plus-square"></i>
      </td>
      <td class="col-sm-2 table-text">
      <%= @products_count[product] %>
      </td>
      <td class="col-sm-2 table-text">
      icon for using item
      </td>
      <td class="col-sm-2">
      icon for selling item
      </td>
      <td class="col-sm-2">
      icon for fighting
      </td>     
    </tr> 
    <%= fields_for "items[]", items do |item| %>
      <%= item.hidden_field :used %>
    <% end %>
  <% end %>
</table>
<% end %>